.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 1.5rem;
  background: linear-gradient(135deg,var(--color-primary),var(--color-secondary));
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow-md);
}

.header-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  display: flex;
  gap: .5rem;
}

.footer {
  margin-top: auto;
  padding: 1.5rem;
  background: var(--color-darker);
  color: white;
  text-align: center;
}
